.footer {
  background-color: #111; /* match sidebar */
  color: #fff;
  text-align: center;
  padding: 12px 0;
  font-size: 14px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.dashboard-layout .footer {
  position: relative; /* allows scroll under footer */
  bottom: 0;
  background-color: #111;
  color: #fff;
}

footer .left{
  text-align: center;
}
footer .right{
  text-align: center;
}
footer ul{
  list-style: none;
}
footer ul li{
  display: inline-block;
  padding-left: 40px;
}